<div class="visTimeline-inner component-inner" style="margin:0px {{_options.margin}}" role="region" aria-label="{{_globals._components._visTimeline.ariaRegion}}" {{#if _globals._components._visTimeline.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    	<script>
		    window.setTimeout(function(){
				$('.timeline .itemset .foreground .item .content').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
				$('.timeline .itemset .background .item .content').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
				$('.timeline .labelset .vlabel .inner').each(function() {
				  $(this).attr( "tabindex", "0" );
				});
		    }, 1111);
		</script>
    <div id="time{{_id}}" class="visTimeline-widget component-widget">
    </div>
</div>
